#linesbg {
    border-radius: 7px 7px 0 0;
    background: #DCDCDC;
    width: calc(100vw - 19px);
    height: 35px;
    position: absolute;
    top: 5px;
    left: 10px;
    z-index: 1;
}

#lines td {
    width: calc((100vw - 30px) / 3);
    padding: 2px;
    top: 9px;
    position: relative;
    border-radius: 15px;
    color: black;
    /*background: red;*/
    /*-webkit-box-shadow: inset 0 0 5px black;*/
    /*-moz-box-shadow: inset 0 0 5px black;*/
    box-shadow: inset 0 0 25px rgba(0,0,0,0.3);
}

.activeline {
    background: #3d8738 !important;
    color: white !important;
}

#lines {
    position: absolute;
    top: 0;
    left: 15px;
    z-index: 2000;
    width: calc(100vw - 30px);
    /*background: #3d8738;*/
    text-align: center;
    color: white;
}

.onhold {
    background: #cb9e21;
    color: white !important;
}

table {
    margin: 0 !important;
}

#phone {
    height: calc(100vh - 68px);
}

iframe {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    border: 0;
}

body {
    padding: 0 !important;
}

#modal {
    z-index: 99999999;
}

/* Used in modals_container.php to center all modals whith this class */

 .modal-vertical-centered {
        transform: translate(0, 50%) !important;
        -ms-transform: translate(0, 50%) !important; /* IE 9 */
        -webkit-transform: translate(0, 50%) !important; /* Safari and Chrome */
    }

    /* Used in modals_container.php to increase the font size
*/
    .form-control{ 
                   font-size: 2em;
                   color: #333333;
                   height: 66px;
    }
